* {
  font-family: 'Noto Sans Japanese', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #0D0015;
}

.title {
  margin-top: 200px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 70px;
  letter-spacing: 3px;
}

.name {
  color: #9CCD2A;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #0D0015;
  display: inline-block;
  padding: 0px 25px 0 25px;
  font-size: 13px;
  margin-bottom: 40px;
  letter-spacing: 3px;
}

.main {
  display: inline-block;
}

.contents {
  width: 66%;
  display: flex;
  justify-content: space-around;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
  float: left;
}

.contents-list {
  width: 45%;
  height: 324px;
  display: inline-block;
  border: 1px solid rgba(223, 220, 220, 0.884);
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  margin: 0 10px 20px 10px;
}

.contents-list img {
  width: 100%;
}

.bun {
  padding-top: 10px;
  width: 90%;
  font-size: 16px;
  margin: 0 auto;
}
.day {
  font-size: 11px;
  color: rgba(102, 101, 101, 0.733);
  text-align: right;
  letter-spacing: 1px;
  margin-top: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.news {
  background: #9CCD2A;
  display: inline-block;
  color: white;
  font-size: 10px;
  padding: 5px 10px 0 10px;
  border-radius: 20px;
  margin-left: 10px;
  position: absolute;
  top: 10px;
}

.side-bar {
  width: 30%;
  display: inline-block;
  float: left;
}


.side-bar-list {
  height: 465px;
  text-align: center;
  border: 1px solid rgba(223, 220, 220, 0.884);
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.side-bar-list h1 {
  width: 100%;
  background: black;
  color: white;
  font-size: 15px;
  font-weight: normal;
  padding: 10px 55px 10px 55px;
  letter-spacing: 1px;
}

.bunbun {
  font-size: 14px;
  padding: 0 20px 40px 20px;
}

.pc {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
}

/* .side-bar-list p {
  margin: 0 auto;
  width: 90%;
  font-size: 15px;
  padding-bottom: 20px;
} */

.btn {
  padding: 10px 25px 10px 25px;
  background: #e22255;
  border-radius: 20px;
  border: 3px double #fff;
  color: white;
  font-size: 13px;
  margin-bottom: 20px;
  /* margin-top: 0px; */
}

.fas {
  color: white;
  padding-right: 5px;
}

.side-bar-list2 {
  height: 515px;
  text-align: center;
  border: 1px solid rgba(223, 220, 220, 0.884);
  margin-bottom: 20px;
  letter-spacing: 1px;
  padding-top: 10px;
}

.circle {
  border-radius: 150px;
  width: 30%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.setumei {
  font-size: 10px;
  color: rgba(102, 101, 101, 0.733);
  margin-bottom: 10px;
}

.side-bar-list2 ul {
  float left;
  list-style: none;
}

.side-bar-list2 li {
  display: inline-block;
}

.button {
  padding: 5px 35px 5px 35px;
  background: #aaa;
  border-radius: 20px;
  border: 3px double #fff;
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  display: inline-block;
}

.follow {
  background: #9CCD2A;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.follow p {
  color: white;
  font-size: 13px;
}

.icon {
  padding: 1px;
  font-size: 23px;
}

.fab {
  color: white;
  background: #FFFFFF2E;
  padding: 5px;
}

.side-bar-list3 {
  height: 475px;
  text-align: center;
  border: 1px solid rgba(223, 220, 220, 0.884);
  margin-bottom: 20px;
  letter-spacing: 1px;
  padding: 10px;
}

.clear {
  clear: left;
}

.side-bar-list3 h3 {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}


.side-bar-list3 img {
  width: 30%;
  display: inline-block;
  float: left;
}

.side-bar-list3 p {
  width: 70%;
  padding-left: 10px;
  display: inline-block;
  float: left;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 20px;
}

.side-bar-list4 {
  height: 140px;
  text-align: center;
  border: 1px solid rgba(223, 220, 220, 0.884);
  margin-bottom: 20px;
  letter-spacing: 1px;
  padding: 25px;
}

.side-bar-list4 h3 {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.postform {
  width: 100%;
  color: #888888;
  background: #C0C0C026;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

.side-bar-list5 {
  height: 190px;
  text-align: center;
  border: 1px solid rgba(223, 220, 220, 0.884);
  margin-bottom: 20px;
  letter-spacing: 1px;
  padding: 25px;
}

.side-bar-list5 h3 {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.tag {
  margin-bottom: 10px;
}

.tag a {
  font-size: 11px;
  letter-spacing: 0;
  background: #C0C0C026;
  padding: 5px;
}

.fa-tag {
  color: #0d0015;
  font-size: 6px; 
}

.fa-search {
  color: red;
}

.side-bar-list6 {
  height: 140px;
  text-align: center;
  border: 1px solid rgba(223, 220, 220, 0.884);
  margin-bottom: 20px;
  letter-spacing: 1px;
  padding: 25px;
}

.side-bar-list6 h3 {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.side-bar-list7 {
  height: auto;
  text-align: center;
  border: 1px solid rgba(223, 220, 220, 0.884);
  margin-bottom: 20px;
  letter-spacing: 1px;
  padding: 25px;
}

.side-bar-list7 h3 {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}


.side-bar-list7 img {
  width: 30%;
  display: inline-block;
  padding-left: 10px;
  float: left;
}

.next-page {
  width: 100%;
  height: 150px;
  text-align: center;
}

.now {
  background: #393541;
  color: white;
  display: inline-block;
  padding: 5px 12px 5px 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.next {
  background: white;
  color: gray;
  display: inline-block;
  padding: 5px 12px 5px 12px;
  border-radius: 50%;
  box-shadow: 0 0 3px black;
}